<p>{{ response }}</p>

<ng-container *ngIf="card === ''">
  <input [(ngModel)]="player" type="text">
  <button (click)="start()">Start the game</button>
</ng-container>

<ng-container *ngIf="card !== ''" >
  <!-- näitab kas seda -->
  <button *ngIf="response !== 'Guess the new card!'" (click)="startNewGuess()">New guess</button>

  <!-- või seda -->
  <ng-container *ngIf="response === 'Guess the new card!'">
    <div>VÄÄRTUS: {{ cardValue }}</div>
    <div>{{ card }}</div>
    <button (click)="guess('lower')">Lower</button>
    <button (click)="guess('equal')">Equal</button>
    <button [disabled]="cardValue === 10" (click)='guess("higher")'>Higher</button>
  </ng-container>

</ng-container>